.main_container{
    background-color: rgb(242, 248, 248);
}
#dir{
    font-size: xx-large;
    margin-left: 2cm;
    margin-bottom: -2cm;
}
#improve{
    font-size: 70px;
}
.nav{
    padding: 1cm;
    word-spacing: 0.5cm;
    /* justify-content: space-between; */
    /* color: black; */
   text-align: center;
}
#download_img{
    width: 18cm;
}
.login{
    display: flex;
    gap: 0.5cm;
    /* gap: 0.4cm; */
    margin-left: 38cm;
    margin-top: -1.5cm;
    
}
.diti_io_in_numbers{
    display: flex;
    gap: 3cm;
    font-size: larger;
    padding: 3cm;
}
.setting{
    display: flex;
}
.settings{
    rotate: 25deg;
}
#join_button{
    width: 2cm;
    height: 1cm;
    color: white;
    background-color:  rgb(241, 147, 178);
    border-radius: 9%;
}
#watch_button{
    width: 2cm;
    height: 0.8cm;
    color: white;
    background-color: blue;
    border-radius: 9%;
}
.help_customers{
    text-align: center;
    font-size: x-large;
}
.mobile_interface{
    display: flex;
    gap: 5cm;
    padding: 3cm;
}
#signup_button{
    width: 4cm;
    height: 1.3cm;
    color:white;
    background-color: rgb(224, 138, 153);
    border-radius: 5%;
}
#login_button{
    width: 5cm;
    height: 1.5cm;
    background-color: white;
    border-radius: 5%;
}
#signingup_button{
    width: 5cm;
    height: 1.5cm;
    background-color: rgb(216, 150, 161);
    margin-top: 1cm;
    border-radius: 5%;
}
.work_with{
    display: flex;
    gap: 3cm;
}
.easy_interface{
    border: solid 1px;
    border-color: plum;
    width: 8cm;
}
.form{
    background-color: white;
    padding: 20px;
    transform: rotate(10deg);
}
.improving{
    display:flex;
    gap: 3cm;
    font-size: larger;
    padding: 2cm;
}
.technical_assistant{
    display: flex;
    gap: 2cm;
}
.growing_softwares{
    font-size: xx-large;
    text-align: center;
}
#num{
    font-weight: bold;
}
.logos{
    display: flex;
    gap: 1cm;
    padding-left: 5cm;
    text-align: center;
}
.about_product{
    padding-left: 2cm;
    padding-top: 2cm;
    text-align: center;
    font-size: x-large;
}
.numbers{
    display: flex;
    gap: 2cm;
    font-size: x-large;
}
.clients_words{
    font-size: x-large;
    text-align: center;
}
#charge{
    color: red;
}
#product{
    color: red;
}
#didi_in_numbers{
    color: red;
    text-decoration: underline;
}
#customer_globally{
    color: red;
}
#some_words{
    color: red;
}
#know_more_button{
    width: 4cm;
    height: 1.5cm;
    background-color: rgb(4, 4, 65);
    color: white;
    border-radius: 5%;
}
.businessmen{
    display: flex;
    gap: 2cm;
    font-size: large;
    padding: 1cm;
    width: 40cm;
    height: 12cm;
    background-color: aliceblue;
    margin-left: 1cm;
}
.edwin_businessman{
    border: solid;
    border-color: pink;
    border-radius: 5%;
    width: 13cm;
    padding-left: 2cm;
    padding-top: 0.2cm;
}
.download{
    display: flex;
    /* margin: 3cm; */
    gap: 2cm;
    background-color: aliceblue;
}
#app_store_button{
    width: 4cm;
    height: 1.5cm;
    color: white;
    background-color: rgb(3, 3, 31);
    border-radius: 5%;
}
#play_store_button{
    width: 4cm;
    height: 1.5cm;
    border-radius: 5%;

}
.download_platforms{
    font-size: 30px;
}
#dit_icon{
    display: flex;
    gap: 0.3cm;
    font-size: x-large;
}
#dit_img{
    margin-top: 0.7cm;
}
.footer_content{
    display: flex;
    gap: 3cm;
    background-color: rgb(5, 5, 78);
    color: white;
    /* height: 10cm; */
    font-size: large;
    padding: 4cm;
    
    
}
.copyright{
    display: flex;
    gap: 15cm;
    background-color: black;
    color: white;
    /* height: 3cm; */
    padding: 1cm;
}



@media screen and (max-width: 760px){
header{
    display: block;
    padding: 200px;
    width: 100px;
}
body{
    overflow: hidden;
}
.improving{
    display: block;
    width: 100%;
    padding: 250px;
}
.logos{
    display: block;
    width: 100%;
    padding: 200px;
}
.work_with{
    display: block;
    padding: 200px;
}
.easy_interface{
    width: 500px;
}
.secured_transfers{
    width: 500px;
}
.support{
    width: 500px;
}
.diti_io_in_numbers{
    display: block;
    width: 350%;
}
.mobile_interface{
    display: block;
    width: 200%;
}
.businessmen{
    display: block;
    width: 200%;
}
.download{
    display: block;
    padding-left: 100px;/
    width: 200%;
}
.download_platforms{
    padding: 100px;
}
.footer{
    display: block;
    width: 450%;
}
.copyright{
    padding-right: 30px;
}
.footer_content{
    display: grid;
}
.settings{
    width: 60%;
}
.form{
    width: 60%;
}
}
    